<div class="page-header">
    <div class="row">
        <div class="col col-md-12 col-lg-12">
            <h1>Create Driver</h1>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="row  justify-content-center">
        <div class="col-6 col-md-6">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                            <input class="form-control" type="text" pInputText placeholder="First name">         
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                            <input class="form-control" type="text" pInputText placeholder="Last name">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                            <input class="form-control" type="text" pInputText placeholder="Contact Number">
                        </div>         
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                            <input class="form-control" type="text" pInputText placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                            <input class="form-control" type="text" pInputText placeholder="Age">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                            <input class="form-control" type="text" pInputText placeholder="Joining Date">         
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="form-group text-right">
                        <button pButton type="button" label="Submit"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

