<div class="page-header">
    <div class="row">
        <div class="col col-md-12 col-lg-12">
            <h1>Create Driver</h1>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="row justify-content-center">
        <div class="col-6 col-md-6">
            <h2>File Upload</h2>
                <input type="text" placeholder="Save with Key" name="id" [(ngModel)]="id">
                <br><br>
                <input type="file" (change)="showPreview($event)">
                <button (click)="save()">Save</button>
                <h2>File View</h2>
                <input type="text" name="file" [(ngModel)]="file" placeholder="Enter Unique Search Key">
                <button (click)="view()">View</button>
            <form [formGroup]="driverForm" novalidate (ngSubmit)="submitForm()">



                


                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input class="form-control" type="text" pInputText placeholder="First name" formControlName="firstName" name="firstName" required ngModel>         
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input class="form-control" type="text" pInputText placeholder="Last name" formControlName="lastName" name="lastName" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-mobile"></i></span>
                                <input class="form-control" type="text" pInputText placeholder="Contact Number" formControlName="contactNumber" name="contactNumber" ngModel>
                            </div>         
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                                <input class="form-control" type="text" pInputText placeholder="Email" formControlName="email" name="email" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input class="form-control" type="text" pInputText placeholder="Age" formControlName="age" name="age" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                                <p-calendar [(ngModel)]="value" formControlName="joiningDate" name="joiningDate" placeholder="Date of joining"></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input class="form-control" type="text" pInputText placeholder="Vehicle Number" formControlName="vehicleNumber" name="vehicleNumber" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input class="form-control" type="text" pInputText placeholder="Vehicle model" formControlName="vehicleModel" name="vehicleModel" ngModel>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="address" name="address" ngModel></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class="form-group text-right">
                            <button pButton type="button" label="Submit" (click)="submitForm()" [disabled]="!driverForm.valid"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

