
<div class="container">
    <h2>Create Driver</h2>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First Name" name="firstName">
        </div>
        <div class="col">
            <input type="text" class="form-control"  placeholder="Last Name" name="lastName">
        </div>
      </div>
      <div class="row">
        <div class="col">
            <input type="text" class="form-control"  placeholder="contactNumber" name="contactNumber">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Email Address" name="email">
        </div>
      </div>
      <div class="row">
        <div class="col">
            <input type="text" class="form-control"  placeholder="Address" name="address">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Age" name="age">
        </div>
      </div>
      <div class="row">
        <div class="col">
            <input type="text" class="form-control"  placeholder="Contact" name="contact">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Joining Date" name="joiningDate">
        </div>
        <div class="col">
            <input type="text" class="form-control"  placeholder="Vehicle Number" name="vehicleNumber">
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>