<div class="page-header">
    <div class="row">
        <div class="col col-md-12 col-lg-12">
            <h1>Dashboard</h1>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col col-md-3">
            <p-card header="Driver" [style]="{width: '360px'}">
                <div class="d-flex">
                    <div class="col m-l-auto number">80</div>
                    <div class="icon col-padd"><i class="pi pi-users"></i></div>
                </div>
            </p-card>
        </div>
        <div class="col col-md-3">
            <p-card header="Driver" [style]="{width: '360px'}">
                <div class="d-flex">
                    <div class="col m-l-auto number">80</div>
                    <div class="icon col-padd"><i class="pi pi-users"></i></div>
                </div>
            </p-card>
        </div>
        <div class="col col-md-3">
            <p-card header="Driver" [style]="{width: '360px'}">
                <div class="d-flex">
                    <div class="col m-l-auto number">80</div>
                    <div class="icon col-padd"><i class="pi pi-users"></i></div>
                </div>
            </p-card>
        </div>
        <div class="col col-md-3">
            <p-card header="Driver" [style]="{width: '360px'}">
                <div class="d-flex">
                    <div class="col m-l-auto number">80</div>
                    <div class="icon col-padd"><i class="pi pi-users"></i></div>
                </div>
            </p-card>
        </div>
        
    </div>

    <div class="row">
        <div class="col col-md-12">
            
        </div>
    </div>
    
</div>