<div class="page-header">
    <div class="row">
        <div class="col col-md-12 col-lg-12">
            <h1>Dashboard</h1>
        </div>
    </div>
</div>
<!-- {{Counter+1}} -->
<p-sidebar [(visible)]="notificationPanel" position="top" [baseZIndex]="10000">
    <h1 style="font-weight:normal">Top Sidebar</h1>
    <button pButton type="button" (click)="notificationPanel = false" label="Save" class="ui-button-success"></button>
    <button pButton type="button" (click)="notificationPanel = false" label="Cancel" class="ui-button-secondary"></button>
</p-sidebar>
<button type="text" (click)="notificationPanel = true" pButton icon="pi pi-plus" label="Show"></button>

<!-- <button class="btn btn-success lg large" (click)="onClickNot(0)">Show</button> -->

<div class="main-content">
    <div class="row">
        <div class="col col-md-3">
            <p-card header="Driver" [style]="{width: '360px'}">
                <div class="d-flex">
                    <div class="col m-l-auto number">80</div>
                    <div class="icon col-padd"><i class="pi pi-users"></i></div>
                </div>
            </p-card>
        </div>
        <div class="col col-md-3">
            <p-card header="Driver" [style]="{width: '360px'}">
                <div class="d-flex">
                    <div class="col m-l-auto number">80</div>
                    <div class="icon col-padd"><i class="pi pi-users"></i></div>
                </div>
            </p-card>
        </div>
        <div class="col col-md-3">
            <p-card header="Driver" [style]="{width: '360px'}">
                <div class="d-flex">
                    <div class="col m-l-auto number">80</div>
                    <div class="icon col-padd"><i class="pi pi-users"></i></div>
                </div>
            </p-card>
        </div>
        <div class="col col-md-3">
            <p-card header="Driver" [style]="{width: '360px'}">
                <div class="d-flex">
                    <div class="col m-l-auto number">80</div>
                    <div class="icon col-padd"><i class="pi pi-users"></i></div>
                </div>
            </p-card>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Age</th>
                    <th>Joining Date</th>
                    <th>Vehicle Number</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <!--<tr *ngFor="let data of appointmentData">
                    <td>{{data.firstName}}</td>
                    <td>{{data.lastName}}</td>
                    <td>{{data.contactNumber}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.address}}</td>
                    <td>{{data.age}}</td>
                    <td>{{data.joiningDate.seconds * 1000 | date:'MM-dd-yyyy' }}</td>
                    <td>{{data.vehicleNumber}}</td>
                  </tr>-->

                  <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                  </tr>

                </tbody>
              </table>
        </div>
    </div>
    
</div>