
<div class="page-header">
    <div class="row">
        <div class="col col-md-12 col-lg-12">
            <h1>Driver</h1>
        </div>
    </div>
</div>

<div class="main-content">
    
    <div class="row">
        <div class="col col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th>Media</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Age</th>
                    <th>Joining Date</th>
                    <th>Fuel Type</th>
                    <th>Vehicle Number</th>
                    <th>Vehicle Number</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <tr *ngFor="let driver of allDrivers">
                        <td><img [src]="driver.media" width="60"></td>
                        <td>{{driver.firstName}}</td>
                        <td>{{driver.lastName}}</td>
                        <td>{{driver.contactNumber}}</td>
                        <td>{{driver.email}}</td>
                        <td>{{driver.address}}</td>
                        <td>{{driver.age}}</td>
                        <td>{{driver.joiningDate.seconds * 1000 | date:'MM-dd-yyyy' }}</td>
                        <td>{{driver.fuelType}}</td>
                        <td>{{driver.vehicleNumber}}</td>
                        <td>{{driver.vehicleModel}}</td>
                        <td><button class="btn btn-primary" (click)="getDocId(driver.docId)">Edit</button></td>
                        <td><button class="btn btn-danger" (click)="deleteDriver(driver.docId)">Delete</button></td>
                    </tr>

                  

                </tbody>
            </table>
        </div>
    </div>
    
</div>