
<div class="page-header">
    <div class="row">
        <div class="col col-md-12 col-lg-12">
            <h1>Driver</h1>
        </div>
    </div>
</div>

<div class="main-content">
    
    <div class="row">
        <div class="col col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th>Doc ID</th>
                    <th>Media</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Fuel Type</th>
                    <th>Joining Date</th>
                    <th>Vehicle Number</th>
                    <th>Vehicle Model</th>
                    <th>Address</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <tr *ngFor="let driver of allDrivers">
                        <td>{{driver.docId}}</td>
                        <td><img [src]="driver.media" width="60"></td>
                        <td>{{driver.firstName}}</td>
                        <td>{{driver.lastName}}</td>
                        <td>{{driver.contactNumber}}</td>
                        <td>{{driver.email}}</td>
                        <td>{{driver.age}}</td>
                        <td>{{driver.fuelType}}</td>
                        <td>{{driver.joiningDate.seconds * 1000 | date:'MM-dd-yyyy' }}</td>
                        <td>{{driver.vehicleNumber}}</td>
                        <td>{{driver.vehicleModel}}</td>
                        <td>{{driver.address}}</td>
                        <td class="buttons">
                            <button class="btn btn-primary" (click)="getDocId(driver.docId,driver.media,driver.firstName,driver.lastName,driver.contactNumber,driver.email,
                            driver.age,driver.fuelType,driver.joiningDate,driver.vehicleNumber,driver.vehicleModel,driver.address);showModalDialog()"
                            pButton icon="pi pi-pencil" type="button"></button>
                            <button class="btn btn-danger ui-button-danger" pButton icon="pi pi-trash" type="button" (click)="deleteDriver(driver.docId)"></button>
                        </td>
                    </tr>


                    
                  

                </tbody>
            </table>
        </div>
    </div>
    
</div>
driver.docId,driver.media,driver.firstName,driver.lastName,driver.contactNumber,driver.email,
                            driver.age,driver.fuelType,driver.joiningDate,driver.vehicleNumber,driver.vehicleModel,driver.address
<h3>Modal</h3>
<button type="button" (click)="showModalDialog()" pButton icon="pi pi-external-link" label="Show"></button>
<p-dialog header="Godfather I" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="editForm" novalidate (ngSubmit)="submitForm()">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="Doc ID" formControlName="docId" name="docId" required ngModel>         
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="Media" formControlName="media" name="media" required ngModel>         
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="First name" formControlName="firstName" name="firstName" required ngModel>         
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="Last name" formControlName="lastName" name="lastName" ngModel>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-mobile"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="Contact Number" formControlName="contactNumber" name="contactNumber" ngModel>
                    </div>         
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="Email" formControlName="email" name="email" ngModel>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="Age" formControlName="age" name="age" ngModel>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="Fuel Type" formControlName="fuelType" name="fuelType" ngModel>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <p-calendar [(ngModel)]="value" formControlName="joiningDate"  dateFormat="mm/dd/yy" name="joiningDate" placeholder="Date of joining"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="Vehicle Number" formControlName="vehicleNumber" name="vehicleNumber" ngModel>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input class="form-control" type="text" pInputText placeholder="Vehicle model" formControlName="vehicleModel" name="vehicleModel" ngModel>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="form-group">
                    <textarea class="form-control" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="address" name="address" ngModel></textarea>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="form-group text-right">
                    <button pButton type="button" label="Submit" (click)="submitForm()" [disabled]="!editForm.valid"></button>
                </div>
            </div>
        </div>
    </form>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="displayModal=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-times" (click)="displayModal=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>